body {
    height: 100%;
    margin: 0;
}

.auth-header {
    padding: 15px 10px;
    background-color: #000;
    height: 30px;
}

.auth-header__logo img {
    height: 30px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.error {
    color: #ff0d0d;
    font-size: 14px;
    margin-top: 5px;
}