.item-detail {
    display: flex;
    gap: 60px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px;
}

.item-detail__image {
    width: 100px;
    flex: 1;
    text-align: center;
}

.item-detail__image img {
    width: 100%;
    max-width: 500px;
    height: 500px;
    margin-top: 50px;
    padding-left: 50px;
    height: auto;
}

.item-detail__info {
    padding-left: 80px;
    flex: 2;
}

.brand {
    color: gray;
    margin-bottom: 30px;
}

.price {
    font-size: 22px;
    margin-bottom: 15px;
}

.item-detail__likes {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.item-detail__likes span {
    font-size: 18px;
}

.btn-purchase {
    display: inline-block;
    background-color: #FF6347;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    min-width: 600px;
    text-align: center;
}

.section-title {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.comment {
    font-size: 18px;
}

.comment-user {
    display: flex;
    align-items: center;
    font-size: 23px;
    gap: 20px;
}

.comment-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-content {
    flex: 1;
    margin-top: 5px;
}

.textarea-section__title {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 30px;
}

textarea {
    min-width: 594px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-comment {
    background-color: #FF6347;
    color: white;
    font-size: 20px;
    min-width: 600px;
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10px;
    margin-bottom: 20px;
}

.like-button {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
}

.like-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-image: url('/storage/image/星アイコン.png');
    background-size: contain;
}

.like-icon.liked {
    background-image: url('/storage/image/赤い星のアイコン.jpg');
}

.comment-icon {
    width: 30px;
    height: 30px;
    background-image: url('/storage/image/吹き出しアイコン.png');
    background-size: contain;
}

.like-count
{
    padding-left: 25px;
    text-align: center;
    font-size: 18px;
    color: #555;
}

.comment-count {
    padding-left: 7px;
    text-align: center;
    font-size: 18px;
    color: #555;
}

.category-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.category-tag {
    display: inline-block;
    padding: 8px 15px;
    font-size: 14px;
    margin-left: 20px;
    color: #333;
    background-color: #f1f1f1;
    border-radius: 20px;
    font-weight: bold;
    border: 1px solid #ccc;
}

.condition {
    display: flex;
    align-items: center;
    gap: 50px;
}

p {
    margin-right: 80px;
}

.comment-error {
    color: #ff0000;
    font-size: 18px;
    margin: 10px;
}