.index-container {
    margin-top: 50px;
}

.index-tab {
    display: flex;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

.index-tab a {
    padding: 10px 30px;
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.index-tab a.active {
    color: #ff6347;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin: 50px;
}

.item-card {
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
}

.item-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item-card a {
    text-decoration: none;
    color: inherit;
}

.item-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.item-name {
    font-size: 18px;
    padding-left: 5px;
    margin-top: 5px;
    color: #333;
}

.sold-label {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ff6347;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    display: inline-block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination .page-link:hover {
    background-color: #289ADC;
    color: white;
    border-color: #289ADC;
}

.pagination .active .page-link {
    background-color: #289ADC;
    color: white;
    border-color: #289ADC;
}

.pagination .disabled .page-link {
    color: #aaa;
    cursor: not-allowed;
    background-color: #f8f8f8;
    border-color: #ddd;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .index-container {
        max-width: 100%;
    }
    .items-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }
}

@media (min-width: 768px) and (max-width: 850px) {

    .index-tab a {
        padding: 8px 20px;
        font-size: 14px;
    }

    .items-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin: 20px;
    }

    .item-name {
        font-size: 16px;
    }

    .pagination .page-link {
        padding: 8px 12px;
    }

    svg.w-5.h-5 {
        width: 20px;
        height: 20px;
    }
}